@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

.section-padding{
    padding: 0 5rem;
}

@media screen and (max-width: 600px) {
    .section-padding{
        padding: 0 1rem;
    }
  }